Block-AzMaliciousFlow/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logAnalytics": {
            "type": "String",
            "metadata": {
                "displayName": "Log Analytics workspace where you send Traffic Analytics logs.",
                "description": "Select Log Analytics workspace from dropdown list",
                "strongType": "omsWorkspace"
            }
        },
        "logicAppName": {
            "defaultValue": "Block-MaliciousFlow",
            "type": "String",
            "metadata": {
                "description": "The logic app name"
            }
        },
        "office365ConnectionName": {
            "defaultValue": "office365",
            "type": "String",
            "metadata": {
                "description": "Office 365 Connection name used for alerting"
            }
        },
        "actionGroupName": {
            "defaultValue": "block-malicious-flows",
            "type": "String",
            "metadata": {
                "description": "Log Analytics Workspace Acton Group name"
            }
        },
        "scheduledQueryRuleName": {
            "defaultValue": "Malicious flows detected by NSG Traffic Analytics",
            "type": "String",
            "metadata": {
                "description": "Log Analytics Alert Query name"
            }
        },
        "sendEmailTo": {
            "type": "String",
            "metadata": {
                "description": "Recipient's email address"
            }
        },
        "location": {
            "defaultValue": "[resourceGroup().location]",
            "type": "String"
        },
        "tags": {
            "type": "Object",
            "defaultValue": {
                "deploymentmode": "armtemplate",
                "description": "Block malicious flows"
            },
            "metadata": {
                "description": "Tags"
            }
        }
    },
    "variables": {
    },
    "resources": [
        {
            "type": "microsoft.insights/actionGroups",
            "apiVersion": "2019-06-01",
            "name": "[parameters('actionGroupName')]",
            "location": "Global",
            "tags": "[parameters('tags')]",
            "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
            ],
            "properties": {
                "groupShortName": "malicious",
                "enabled": true,
                "emailReceivers": [],
                "smsReceivers": [],
                "webhookReceivers": [],
                "itsmReceivers": [],
                "azureAppPushReceivers": [],
                "automationRunbookReceivers": [],
                "voiceReceivers": [],
                "logicAppReceivers": [
                    {
                        "name": "[parameters('logicAppName')]",
                        "resourceId": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]",
                        "callbackUrl": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '/triggers/manual'), '2016-06-01').value]",
                        "useCommonAlertSchema": false
                    }
                ],
                "azureFunctionReceivers": [],
                "armRoleReceivers": []
            }
        },
        {
            "type": "microsoft.insights/scheduledqueryrules",
            "apiVersion": "2020-05-01-preview",
            "name": "[parameters('scheduledQueryRuleName')]",
            "location": "westeurope",
            "tags": "[parameters('tags')]",
            "dependsOn": [
                "[resourceId('microsoft.insights/actionGroups', parameters('actionGroupName'))]"
            ],
            "properties": {
                "displayName": "[parameters('scheduledQueryRuleName')]",
                "description": "Will be blocked by Logic App",
                "severity": 2,
                "enabled": true,
                "evaluationFrequency": "PT10M",
                "scopes": [
                    "[parameters('logAnalytics')]"
                ],
                "windowSize": "PT10M",
                "criteria": {
                    "allOf": [
                        {
                            "query": "AzureNetworkAnalytics_CL \n| extend SourceIP=SrcIP_s\n| extend DestinationIP=DestIP_s\n| extend SubscriptionId=tostring(split(NSGList_s, '/', 0)[0])\n| extend NSGRuleAction =tostring(split(NSGRules_s, '|', 3)[0])\n| extend NSGRuleName=tostring(split(NSGRules_s, '|', 1)[0])\n| extend NSGName=tostring(split(NSGList_s, '/', 2)[0])\n| extend NSGRgName=tostring(split(NSGList_s, '/', 1)[0])\n| extend VMRgName = tostring(split(VM_s, '/', 0)[0])\n| extend VMName = tostring(split(VM_s, '/', 1)[0])\n| where \"'A'\" has NSGRuleAction\n| where FlowType_s == \"MaliciousFlow\"\n| project TimeGenerated, TimeProcessed_t,FlowStartTime_t, FlowEndTime_t,FlowIntervalStartTime_t, FlowIntervalEndTime_t, SubscriptionId, VMRgName, VMName, NSGRgName, NSGName, NSGRuleName, Country_s, SourceIP, DestinationIP, DestinationPort=DestPort_d, VM_s, Protocol=L7Protocol_s, [\"RuleAction\"]=NSGRuleAction, DestinationSubnet=Subnet2_s",
                            "timeAggregation": "Count",
                            "operator": "GreaterThanOrEqual",
                            "threshold": 1,
                            "failingPeriods": {
                                "numberOfEvaluationPeriods": 1,
                                "minFailingPeriodsToAlert": 1
                            }
                        }
                    ]
                },
                "actions": [
                    {
                        "actionGroupId": "[resourceId('microsoft.insights/actionGroups', parameters('actionGroupName'))]"
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('office365ConnectionName')]",
            "location": "[parameters('location')]",
            "tags": "[parameters('tags')]",
            "kind": "V1",
            "properties": {
                "displayName": "Send email like ASC Score, NSG Malicious flows, ..",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('location')]",
            "tags": "[parameters('tags')]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('office365ConnectionName'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "complianceEmailAddress": {
                            "defaultValue": "[parameters('sendEmailTo')]",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "context": {
                                                    "properties": {
                                                        "activityLog": {
                                                            "properties": {
                                                                "authorization": {
                                                                    "properties": {
                                                                        "action": {
                                                                            "type": "string"
                                                                        },
                                                                        "scope": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "caller": {
                                                                    "type": "string"
                                                                },
                                                                "channels": {
                                                                    "type": "string"
                                                                },
                                                                "claims": {
                                                                    "type": "string"
                                                                },
                                                                "correlationId": {
                                                                    "type": "string"
                                                                },
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "eventDataId": {
                                                                    "type": "string"
                                                                },
                                                                "eventSource": {
                                                                    "type": "string"
                                                                },
                                                                "eventTimestamp": {
                                                                    "type": "string"
                                                                },
                                                                "level": {
                                                                    "type": "string"
                                                                },
                                                                "operationId": {
                                                                    "type": "string"
                                                                },
                                                                "operationName": {
                                                                    "type": "string"
                                                                },
                                                                "resourceGroupName": {
                                                                    "type": "string"
                                                                },
                                                                "resourceId": {
                                                                    "type": "string"
                                                                },
                                                                "resourceProviderName": {
                                                                    "type": "string"
                                                                },
                                                                "resourceType": {
                                                                    "type": "string"
                                                                },
                                                                "status": {
                                                                    "type": "string"
                                                                },
                                                                "subStatus": {
                                                                    "type": "string"
                                                                },
                                                                "submissionTimestamp": {
                                                                    "type": "string"
                                                                },
                                                                "subscriptionId": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "properties": {
                                                    "properties": {},
                                                    "type": "object"
                                                },
                                                "status": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "schemaId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "For_each_tables": {
                            "foreach": "@body('Parse_JSON')?['data']?['SearchResult']?['tables']",
                            "actions": {
                                "For_each_Malicious_flows": {
                                    "foreach": "@items('For_each_tables')?['rows']",
                                    "actions": {
                                        "Compose_one_Malicious_Flow": {
                                            "runAfter": {},
                                            "type": "Compose",
                                            "inputs": {
                                                "Country_s": "@last(take(items('For_each_Malicious_flows'),13))",
                                                "DestinationIP": "@last(take(items('For_each_Malicious_flows'),15))",
                                                "DestinationPort": "@last(take(items('For_each_Malicious_flows'),16))",
                                                "DestinationSubnet": "@last(take(items('For_each_Malicious_flows'),20))",
                                                "FlowEndTime_t": "@last(take(items('For_each_Malicious_flows'),4))",
                                                "FlowIntervalEndTime_t": "@last(take(items('For_each_Malicious_flows'),6))",
                                                "FlowIntervalStartTime_t": "@last(take(items('For_each_Malicious_flows'),5))",
                                                "FlowStartTime_t": "@last(take(items('For_each_Malicious_flows'),3))",
                                                "NSGName": "@last(take(items('For_each_Malicious_flows'),11))",
                                                "NSGRgName": "@last(take(items('For_each_Malicious_flows'),10))",
                                                "NSGRuleName": "@last(take(items('For_each_Malicious_flows'),12))",
                                                "Protocol": "@last(take(items('For_each_Malicious_flows'),18))",
                                                "RuleAction": "@last(take(items('For_each_Malicious_flows'),19))",
                                                "SourceIP": "@last(take(items('For_each_Malicious_flows'),14))",
                                                "SubscriptionId": "@last(take(items('For_each_Malicious_flows'),7))",
                                                "TimeProcessed_t": "@last(take(items('For_each_Malicious_flows'),2))",
                                                "VMName": "@last(take(items('For_each_Malicious_flows'),9))",
                                                "VMRgName": "@last(take(items('For_each_Malicious_flows'),8))",
                                                "VM_s": "@last(take(items('For_each_Malicious_flows'),17))"
                                            }
                                        },
                                        "Filter_Inbound_NSG_rules": {
                                            "runAfter": {
                                                "HTTP_-_Get_NSG_rules": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Query",
                                            "inputs": {
                                                "from": "@body('HTTP_-_Get_NSG_rules')?['value']",
                                                "where": "@equals(item()?['properties']?['direction'], 'Inbound')"
                                            }
                                        },
                                        "For_each_Inbound_NSG_rules": {
                                            "foreach": "@body('Filter_Inbound_NSG_rules')",
                                            "actions": {
                                                "Condition_-_Checking_if_rule_priority_is_available": {
                                                    "actions": {
                                                        "Increment_NSG_rule_priority": {
                                                            "runAfter": {},
                                                            "type": "IncrementVariable",
                                                            "inputs": {
                                                                "name": "rulePriority"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {},
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "equals": [
                                                                    "@item()?['properties']?['priority']",
                                                                    "@variables('rulePriority')"
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "type": "If"
                                                }
                                            },
                                            "runAfter": {
                                                "Reset_NSG_rule_priority": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Foreach",
                                            "runtimeConfiguration": {
                                                "concurrency": {
                                                    "repetitions": 1
                                                }
                                            }
                                        },
                                        "HTTP_-_Create_NSG_Rule": {
                                            "runAfter": {
                                                "For_each_Inbound_NSG_rules": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http",
                                            "inputs": {
                                                "authentication": {
                                                    "type": "ManagedServiceIdentity"
                                                },
                                                "body": {
                                                    "properties": {
                                                        "access": "Deny",
                                                        "description": "@{concat('NSG Traffic Analytics Malicious flow start time: ',outputs('Compose_one_Malicious_Flow')?['FlowStartTime_t'])}",
                                                        "destinationAddressPrefix": "@{outputs('Compose_one_Malicious_Flow')?['DestinationIP']}",
                                                        "destinationPortRange": "@{outputs('Compose_one_Malicious_Flow')?['DestinationPort']}",
                                                        "direction": "Inbound",
                                                        "priority": "@variables('rulePriority')",
                                                        "protocol": "*",
                                                        "sourceAddressPrefix": "@{outputs('Compose_one_Malicious_Flow')?['SourceIP']}",
                                                        "sourcePortRange": "*"
                                                    }
                                                },
                                                "method": "PUT",
                                                "uri": "https://management.azure.com/subscriptions/@{outputs('Compose_one_Malicious_Flow')?['SubscriptionId']}/resourceGroups/@{outputs('Compose_one_Malicious_Flow')?['NSGRgName']}/providers/Microsoft.Network/networkSecurityGroups/@{outputs('Compose_one_Malicious_Flow')?['NSGName']}/securityRules/BlockMaliciousFlow-@{variables('rulePriority')}?api-version=2020-05-01"
                                            }
                                        },
                                        "HTTP_-_Get_NSG_rules": {
                                            "runAfter": {
                                                "Compose_one_Malicious_Flow": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http",
                                            "inputs": {
                                                "authentication": {
                                                    "type": "ManagedServiceIdentity"
                                                },
                                                "method": "GET",
                                                "uri": "https://management.azure.com/subscriptions/@{outputs('Compose_one_Malicious_Flow')?['SubscriptionId']}/resourceGroups/@{outputs('Compose_one_Malicious_Flow')?['NSGRgName']}/providers/Microsoft.Network/networkSecurityGroups/@{outputs('Compose_one_Malicious_Flow')?['NSGName']}/securityRules?api-version=2020-05-01"
                                            }
                                        },
                                        "Reset_NSG_rule_priority": {
                                            "runAfter": {
                                                "Filter_Inbound_NSG_rules": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "rulePriority",
                                                "value": 100
                                            }
                                        },
                                        "Send_an_email_(V2)": {
                                            "runAfter": {
                                                "Set_email_body": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "Body": "<p>@{variables('emailBody')}</p>",
                                                    "Importance": "High",
                                                    "Subject": "DDL - Malicious flows blocked - Detected by NSG Traffic Analytics - Blocked by Logic App",
                                                    "To": "@parameters('complianceEmailAddress')"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v2/Mail"
                                            }
                                        },
                                        "Set_email_body": {
                                            "runAfter": {
                                                "HTTP_-_Create_NSG_Rule": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "emailBody",
                                                "value": "<style type=\"text/css\">\n\th1 {\n\t\tfont-family: \"Segoe UI\";\n\t\tfont-size: 32px;\n\t\tfont-style: normal;\n\t\tfont-variant: normal;\n\t\tfont-weight: 700;\n\t\tline-height: 30px;\n\t}\n\n\th2 {\n\t\tfont-family: \"Segoe UI\";\n\t\tfont-size: 20px;\n\t\tfont-style: normal;\n\t\tfont-variant: normal;\n\t\tfont-weight: 700;\n\t\tline-height: 15px;\n\t}\n\n\th3 {\n\t\tfont-family: \"Segoe UI\";\n\t\tfont-size: 22px;\n\t\tfont-style: normal;\n\t\tfont-variant: normal;\n\t\tfont-weight: 700;\n\t\tline-height: 23.1px;\n\t}\n\n\tp {\n\t\tfont-family: \"Segoe UI\";\n\t\tfont-size: 16px;\n\t\tfont-style: normal;\n\t\tfont-variant: normal;\n\t\tfont-weight: 400;\n\t\tline-height: 20px;\n\t}\n</style>\n<table align=\"center\" border=\"0\" cellpadding=\"1\" cellspacing=\"1\" style=\"width:800px;\">\n\t<tbody>\n\t\t<tr>\n\t\t\t<th style=\"text-align:center; width:735px\">\n\t\t\t\t<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"width: 550px;\">\n\t\t\t\t\t<tbody>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td><img src=\"https://raw.githubusercontent.com/Azure/Azure-Security-Center/master/.github/images/asc.png\" alt=\"\" width=\"125\" height=\"125\" /></td>\n\t\t\t\t\t\t\t<td>\n\t\t\t\t\t\t\t\t<h1 style=\"text-align: left;\">Azure Traffic Analytics</h1>\n\t\t\t\t\t\t\t\t<h2 style=\"text-align: left;\">Malicious flows blocked!</h2>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t</tbody>\n\t\t\t\t</table>\n\t\t\t</th>\n\t\t</tr>\n\t\t<tr>\n\t\t\t<td style=\"width:735px\">\n\t\t\t\t<p style=\"text-align: center;\">Azure Traffic Analytics has detected a malicious flow from <strong>source IP: @{outputs('Compose_one_Malicious_Flow')?['SourceIP']} located in the country code @{outputs('Compose_one_Malicious_Flow')?['Country_s']}</strong> on your machine <strong>@{outputs('Compose_one_Malicious_Flow')?['VM_s']}</strong>. The attack was stopped by blocking the attacking IP address(es) in the VM's Network Security Group (NSG) . Please review the VM's network configuration and change it if necessary.</p>\n\t\t\t</td>\n\t\t</tr>\n<tr><td>&nbsp;</td></tr>\n\t\t<tr>\n\t\t\t<td style=\"width: 735px; border-color: rgb(221, 221, 221); border-bottom-style: solid;\">\n\t\t\t\t<h3>Network Security Group used to block the malicious flows</h3>\n\t\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t\t<td style=\"width:735px\">\n\t\t\t\t<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"width: 750px;\">\n\t\t\t\t\t<tbody>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"width: 200px;\">\n\t\t\t\t\t\t\t\t<p><strong>Subscription</strong></p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t<td style=\"width: 550px;\">\n\t\t\t\t\t\t\t\t<p>@{outputs('Compose_one_Malicious_Flow')?['SubscriptionId']}</p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"width: 200px;\">\n\t\t\t\t\t\t\t\t<p><strong>Resource Group</strong></p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t<td style=\"width: 550px;\">\n\t\t\t\t\t\t\t\t<p>@{outputs('Compose_one_Malicious_Flow')?['NSGRgName']}</p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"width: 200px;\">\n\t\t\t\t\t\t\t\t<p><strong>Name</strong></p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t<td style=\"width: 550px;\">\n\t\t\t\t\t\t\t\t<p>@{outputs('Compose_one_Malicious_Flow')?['NSGName']}</p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"width: 200px;\">\n\t\t\t\t\t\t\t\t<p><strong>Rule</strong></p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t<td style=\"width: 550px;\">\n\t\t\t\t\t\t\t\t<p>BlockMaliciousFlow-@{variables('rulePriority')}</p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t</tbody>\n\t\t\t\t</table>\n\t\t\t</td>\n\t\t</tr>\n<tr><td>&nbsp;</td></tr>\n        <tr>\n\t\t\t<td style=\"width: 735px; border-color: rgb(221, 221, 221); border-bottom-style: solid;\">\n\t\t\t\t<h3>Alert detail</h3>\n\t\t\t</td>\n        </tr>\n        <td style=\"width:735px\">\n\t\t\t\t<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"width: 750px;\">\n\t\t\t\t\t<tbody>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"width: 200px;\">\n\t\t\t\t\t\t\t\t<p><strong>Flow start time (UTC)</strong></p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t<td style=\"width: 550px;\">\n\t\t\t\t\t\t\t\t<p>@{outputs('Compose_one_Malicious_Flow')?['FlowStartTime_t']}</p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"width: 200px;\">\n\t\t\t\t\t\t\t\t<p><strong>Flow end time (UTC)</strong></p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t<td style=\"width: 550px;\">\n\t\t\t\t\t\t\t\t<p>@{outputs('Compose_one_Malicious_Flow')?['FlowEndTime_t']}</p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"width: 200px;\">\n\t\t\t\t\t\t\t\t<p><strong>Source</strong></p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t<td style=\"width: 550px;\">\n\t\t\t\t\t\t\t\t<p>IP: @{outputs('Compose_one_Malicious_Flow')?['SourceIP']}, Country code: @{outputs('Compose_one_Malicious_Flow')?['Country_s']}</p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"width: 200px;\">\n\t\t\t\t\t\t\t\t<p><strong>Destination</strong></p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t<td style=\"width: 550px;\">\n\t\t\t\t\t\t\t\t<p>IP: @{outputs('Compose_one_Malicious_Flow')?['DestinationIP']}, Subnet: @{outputs('Compose_one_Malicious_Flow')?['DestinationSubnet']}</p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<td style=\"width: 200px;\">\n\t\t\t\t\t\t\t\t<p><strong>Protocol</strong></p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t<td style=\"width: 550px;\">\n\t\t\t\t\t\t\t\t<p>Protocol: @{outputs('Compose_one_Malicious_Flow')?['Protocol']}, Port:  @{outputs('Compose_one_Malicious_Flow')?['DestinationPort']}</p>\n\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t</tbody>\n\t\t\t\t</table>\n\t\t\t</td>\n        </tr>\n<tr><td>&nbsp;</td></tr>\n        <tr>\n\t\t\t<td style=\"width: 735px; border-color: rgb(221, 221, 221); border-bottom-style: solid;\">\n\t\t\t\t<h3>Reference document</h3>\n\t\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t\t<td style=\"width:735px\">\n\t\t\t\t<ol>\n\t\t\t\t\t<li>\n\t\t\t\t\t\t<p>Click <a href=\"https://docs.microsoft.com/en-us/azure/network-watcher/traffic-analytics-schema?WT.mc_id=AZ-MVP-5003548\">here</a> to view the schema and data aggregation in Traffic Analytics.</p>\n\t\t\t\t\t</li>\n\t\t\t\t\t<li>\n\t\t\t\t\t\t<p>Click <a href=\"https://docs.microsoft.com/en-us/azure/network-watcher/traffic-analytics?WT.mc_id=AZ-MVP-5003548\">here</a> to get information on how works Traffic Analytics.</p>\n\t\t\t\t\t</li>\n\t\t\t\t\t<li>\n\t\t\t\t\t\t<p>Click <a href=\"https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2\">here</a> to view the country codes reference guide.\n\t\t\t\t\t\t</p>\n\t\t\t\t\t</li>\n\t\t\t\t</ol>\n\t\t\t</td>\n\t\t</tr>\n\t</tbody>\n</table>"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "Foreach",
                                    "runtimeConfiguration": {
                                        "concurrency": {
                                            "repetitions": 1
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_email_body": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            }
                        },
                        "Initialize_NSG_rule_priority": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "rulePriority",
                                        "type": "integer",
                                        "value": 100
                                    }
                                ]
                            }
                        },
                        "Initialize_email_body": {
                            "runAfter": {
                                "Initialize_NSG_rule_priority": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "emailBody",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {},
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()",
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "AlertRuleName": {
                                                    "type": "string"
                                                },
                                                "AlertThresholdOperator": {
                                                    "type": "string"
                                                },
                                                "AlertThresholdValue": {
                                                    "type": "integer"
                                                },
                                                "AlertType": {
                                                    "type": "string"
                                                },
                                                "Description": {
                                                    "type": "string"
                                                },
                                                "LinkToFilteredSearchResultsAPI": {
                                                    "type": "string"
                                                },
                                                "LinkToFilteredSearchResultsUI": {
                                                    "type": "string"
                                                },
                                                "LinkToSearchResults": {
                                                    "type": "string"
                                                },
                                                "LinkToSearchResultsAPI": {
                                                    "type": "string"
                                                },
                                                "ResourceId": {
                                                    "type": "string"
                                                },
                                                "ResultCount": {
                                                    "type": "integer"
                                                },
                                                "SearchIntervalEndtimeUtc": {
                                                    "type": "string"
                                                },
                                                "SearchIntervalInSeconds": {
                                                    "type": "integer"
                                                },
                                                "SearchIntervalStartTimeUtc": {
                                                    "type": "string"
                                                },
                                                "SearchQuery": {
                                                    "type": "string"
                                                },
                                                "SearchResult": {
                                                    "properties": {
                                                        "dataSources": {
                                                            "items": {
                                                                "properties": {
                                                                    "region": {
                                                                        "type": "string"
                                                                    },
                                                                    "resourceId": {
                                                                        "type": "string"
                                                                    },
                                                                    "tables": {
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "resourceId",
                                                                    "region",
                                                                    "tables"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "statistics": {
                                                            "properties": {
                                                                "query": {
                                                                    "properties": {
                                                                        "datasetStatistics": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "tableRowCount": {
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "tableSize": {
                                                                                        "type": "integer"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "tableRowCount",
                                                                                    "tableSize"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "executionTime": {
                                                                            "type": "number"
                                                                        },
                                                                        "inputDatasetStatistics": {
                                                                            "properties": {
                                                                                "extents": {
                                                                                    "properties": {
                                                                                        "scanned": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "scannedMaxDatetime": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "scannedMinDatetime": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "total": {
                                                                                            "type": "integer"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "rows": {
                                                                                    "properties": {
                                                                                        "scanned": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "total": {
                                                                                            "type": "integer"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "rowstores": {
                                                                                    "properties": {
                                                                                        "scannedRows": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "scannedValuesSize": {
                                                                                            "type": "integer"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "shards": {
                                                                                    "properties": {
                                                                                        "queriesGeneric": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "queriesSpecialized": {
                                                                                            "type": "integer"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "resourceUsage": {
                                                                            "properties": {
                                                                                "cache": {
                                                                                    "properties": {
                                                                                        "disk": {
                                                                                            "properties": {
                                                                                                "hits": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "misses": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "total": {
                                                                                                    "type": "integer"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "memory": {
                                                                                            "properties": {
                                                                                                "hits": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "misses": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "total": {
                                                                                                    "type": "integer"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "shards": {
                                                                                            "properties": {
                                                                                                "bypassbytes": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "cold": {
                                                                                                    "properties": {
                                                                                                        "hitbytes": {
                                                                                                            "type": "integer"
                                                                                                        },
                                                                                                        "missbytes": {
                                                                                                            "type": "integer"
                                                                                                        },
                                                                                                        "retrievebytes": {
                                                                                                            "type": "integer"
                                                                                                        }
                                                                                                    },
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "hot": {
                                                                                                    "properties": {
                                                                                                        "hitbytes": {
                                                                                                            "type": "integer"
                                                                                                        },
                                                                                                        "missbytes": {
                                                                                                            "type": "integer"
                                                                                                        },
                                                                                                        "retrievebytes": {
                                                                                                            "type": "integer"
                                                                                                        }
                                                                                                    },
                                                                                                    "type": "object"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "cpu": {
                                                                                    "properties": {
                                                                                        "kernel": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "totalCpu": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "user": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "memory": {
                                                                                    "properties": {
                                                                                        "peakPerNode": {
                                                                                            "type": "integer"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "tables": {
                                                            "items": {
                                                                "properties": {
                                                                    "columns": {
                                                                        "items": {
                                                                            "properties": {
                                                                                "name": {
                                                                                    "type": "string"
                                                                                },
                                                                                "type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "name",
                                                                                "type"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "rows": {
                                                                        "items": {
                                                                            "type": "array"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "name",
                                                                    "columns",
                                                                    "rows"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "Severity": {
                                                    "type": "string"
                                                },
                                                "SubscriptionId": {
                                                    "type": "string"
                                                },
                                                "WorkspaceId": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "schemaId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365ConnectionName'))]",
                                "connectionName": "office365",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    }
                }
            }
        }
    ],
    "outputs": {
    }
}